<div class="container">
  <span progressBar>SNAKS</span>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Personal information</th>
        <th scope="col">ID</th>
        <th scope="col">Vacations</th>
        <th scope="col">Start date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees">
        <th>{{e.UserId}} - {{e.FirstName}} {{e.LastName}}</th>
        <td>{{e.UserKey}}</td>
        <td>{{e.UsedDays}}//{{e.AvailableDays}}
          <div class="progress">
            <div progressBar class="progress-bar" role="progressbar" style="width: 25%"></div>
          </div>
        </td>
        <td>{{e.EmployeeStartDate}}</td>
      </tr>
    </tbody>
  </table>
</div>