<div class="container">
    <form>
        <div class="form-group row mb-1 mt-5">
          <span class="col-md-4">Password</span>
          <div class="col-md-8">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
      </form>
  <div class="card-body p-0">
  <table class="table rounded">
    <thead>
      <tr>
        <th class="align-left w-25">Personal information</th>
        <th>ID</th>
        <th>Vacations</th>
        <th class="w-25">Start date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees">
        <th class="align-left">{{e.UserId}} - {{e.FirstName}} {{e.LastName}}</th>
        <td>{{e.UserKey}}</td>
        <td>
          <div class="progress">
            <div appProgressBar [value]="e.Average" class="progress-bar" role="progressbar"></div>
          </div>
        </td>
        <td>{{e.EmployeeStartDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>